@charset "UTF-8";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main-content {
   width: 100vw;
   height: 100vh;
}

.box-content {
   padding: 20px;
   border: 2px solid black;
   width: 200px;
   height: 200px;
}