@charset "UTF-8";

* {
   padding: 0;
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   box-sizing: border-box;
}

.nav-content {
   padding: 12px 4%;
   display: flex;
   flex-direction: row;
   background-color: black;
   justify-content: space-between;
   align-items: center;
 
}

.nav-icon {
   width: 30px;
}

.nav-logo {
   width: 180px;
   padding-top: 4px;
}

.nav-menu {
   display: flex;
   flex-direction: row;
   gap: 3px 8px;
   align-items: center;
}

/* .nav-icon {
   margin-left: 30px;
   margin-top: 5px;
} */

.nav-menu a {
   background-color: rgba(255, 255, 255, 0.212);
   border: 1px solid white;
   border-radius: 6px;
   padding: 5px 9px;
   text-decoration: none;
   color: white;
   font-size: 0.9em;
}

.nav-menu a:hover {
   border-color: red;
   transition: 0.4s;
}